.madol{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.modal-content {
    width: 900px;
    background-color: #fff;
    border-radius: 20px;
}

.modal-header, .modal-footer{
    padding: 10px;
    
}

.modal-title{
    margin: 0 auto;
    font-size: 32px;
    
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


.btn{
    margin: 0 auto;
    border-radius: 20px;
    width: 100px;
}

.ingredient{
  margin: auto;
  width: 70%;
  padding: 10px;
}

img{
    margin: 0 auto;
    border-radius: 30px;
}